@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  width: 100vw;
  height: 100vh
}

.container{
  margin: auto auto;
}

.content{
  height: 100vh;
  background-color: #f5bc17;
  text-align: center;
}

.content img{
  width: 300px;
  margin-top: 5vh;
  border-radius: 5px;
}

.home-title{
  margin: 5vh auto;
}

.box {
  font-size: 1.25rem;
  background-color: white;
  padding: 40px 0px;
  width: 400px;
  margin: auto;
}

.card {
  box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  background-color:#FFF;
}

.card:hover {
  box-shadow: 0 8px 8px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
}

.box img{
  width: 15%;
  margin-top: 0;
  margin-bottom: 30px;
}

input{
  margin-top: 30px;
}

.button {
  background: #e9a30c;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  color: #fff;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto;
  margin-top: 2.5rem;
  overflow: auto;
  padding: 1rem 1.5rem;
}

.button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
}

.button:active {
  box-shadow: none;
}

.arrow img{
  width: 5%;
  margin-top: 0;
}

a:visited {
  color: #ff3300;
}

a:hover {
  color: #585550;   
}
